.explorer {
  padding-left: 1.5rem;
  user-select: none;
}

.block {
  display: block;
}

.none {
  display: none; 
}

span {
  padding: 2px 4px;
  border-radius: 4px
}
#selected {
  background: #494d64;
}
